body {
  margin: 0;
  padding: 0;
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  width: 100vw;
  height: 150vh;
  text-align: center;
}

.content {
  background-color: blanchedalmond;
  margin: auto;
  width: 70%;
  height: 165%;
  opacity: 0.7;
  font-size: 17px;
}

.container {
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20px;
  border-radius: 0.5%;
  height: 50%;
  color: #000000;
}

#year {
  border-radius: 10px;
  width: 70px;
  height: 20px;
  box-shadow: 2px 2px #888888;
}

#month {
  border-radius: 10px;
  width: 70px;
  height: 20px;
  box-shadow: 2px 2px #888888;
}

#day {
  border-radius: 10px;
  width: 70px;
  height: 20px;
  box-shadow: 2px 2px #888888;
  
}

#submitButton {
  border-radius: 10px;
  width: 170px;
  height: 30px;
  box-shadow: 2px 2px #000000;
  text-align: center;
  background-color: brown;
}

#clear {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 2px 2px #000000;
  text-align: center;
  background-color: brown;
} 
h1 {
  text-align: center;
  font-family: fantasy;
  color: #000000;
}
h1:hover {
  color: brown;
}
h2 {
  text-align: center;
  font-family: fantasy;
  color: #000000;
}

legend {
  text-align: center;
  font-family: fantasy;
  color: #000000;

}