section {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;

}
.container {
  width: 70%;
  margin: auto;
}

.content {
  background-color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 5px 10px #888888;
  border: 1px solid;
  padding: 10px;

}

.heading {
  font-family: fantasy;
  text-align: center;
  font-weight: 100;
  color: brown;
}